<h3>Select which Athlete train you want to see:</h3>

<input type="radio" name="train" [(ngModel)]="chosenSport" value="footvolley">
<label for="footvolley">Footvolley</label>

<input type="radio" name="train" [(ngModel)]="chosenSport" value="basketball">
<label for="basketball">Basketball</label>

<input type="radio" name="train" [(ngModel)]="chosenSport" value="soccer">
<label for="soccer">Soccer</label>

<input type="radio" name="train" [(ngModel)]="chosenSport" value="tennis">
<label for="tennis">Tennis</label>

<button routerLink='link' [queryParams]="{ train: chosenSport }" style="display: block; margin-top: 12px;">Enter</button>

<router-outlet></router-outlet>
